body {
    margin: 15px;
    box-sizing: border-box;
    background: #edeaea;

    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 80%;

    margin: auto;
}

/*TOP BAR*/
#topBar {
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    background: #fff;
}

.topBarLogoContainer {
    white-space: nowrap;
    height: 50px;
    width: 110px;
    margin: 18px 20px;
}

#topBarCB {
    outline: none;
    margin: 24px 8px 0 0;
    width: 220px;
    height: 25px;
    font-size: 14px;
    border-radius: 5px;
    line-height: 32px;
    cursor: pointer;
}

#btnExit {
    width: 89px;
    height: 25px;
    display: flex;
    border-radius: 5px;
    justify-content: center;
}

#btnExit:active,
#btnExit:focus {
    outline: none;
}

/* FORECAST WEATHER BAR */
.weatherBar {
    display: block;
    border-radius: 5px;
    position: relative;
    margin: 5px 5px 0 0;
    background: #fff;
    width: 100%;
    height: max-content;
}

.weatherBarContainer {
    white-space: nowrap;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day0, .day1, .day2, .day3, .day4, .day5, .day6 {
    width: 100%;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    margin: 5px;
    display: flex;
    justify-content: center;
}

/*CURRENT WEATHER BLOCK*/
.city {
    margin: 10px 0 0 5px;

}

.currentWeatherBlock {

    display: block;
    position: relative;
    margin: 0 5px 0 0;
    border-radius: 5px;

    width: 100%;
    height: 180px;

    background: #fff;
}

.containerCurrentWeather {
    white-space: nowrap;

    position: relative;
    padding: 20px;
}

.tempContainer {
    position: relative;
    width: max-content;
    height: max-content;
    margin: 7px 10px 10px 10px;
}

.currentTempSpan {
    font-size: 56px;
    font-weight: bold;
}

.currentTempContainer {
    position: relative;

    display: flex;
    justify-content: flex-start;
}

.iconContainer {
    width: 80px;
    height: 80px;
}

.iconCr {
    width: 100%;
    height: 100%;
}

.feltTempContainer {

}

.optionsWeather {
    display: flex;
    margin: 15px 10px 5px 0;
    justify-content: space-between;
}

.weatherAndSpeedTest {
    display: flex;

    flex-flow: row wrap;
    justify-content: start;
}

/*IP-INFO BLOCK*/
.ip-info {
    position: relative;
    display: block;

    width: 600px;
    margin: 10px 0 0 5px;
}

.ipInfoContainer {
    display: flex;
    position: relative;
    margin: 0 5px 0 0;
    border-radius: 5px;

    width: 590px;
    height: max-content;

    background: #fff;
}

.dataIpContainer {
    width: max-content;
    height: max-content;
    margin: 33px 0 33px 30px;

}

.dataMyIpContainer {
    width: max-content;
    height: max-content;
    margin: 67px 0 67px 20px;
}

.myApiAddressText {
    font-size: 22px;
}


/*SPEED TESTING BLOCK*/
.speedTesting {
    display: block;
    width: 600px;
    margin: 10px 0 0 5px;
}

.speedTestingContainer {

    white-space: nowrap;

    display: flex;
    position: relative;
    border-radius: 5px;

    width: 100%;
    height: 180px;

    background: #fff;
}

.speedTestingContainerButton {
    margin: 67px 0 67px 20px;

}

.speedTestingIndicators {
    margin: 60px 0 62px 20px;

}

.btnSpeedTest {
    width: max-content;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;

    padding: .2em 2em;
    outline: none;

    border-width: 1px 0;
    border-style: solid none;
    border-color: #edeaea #000 #cecece;
    border-radius: 6px;
    background: linear-gradient(#969696, #4f4f4f) #e2dede;
    transition: 0.2s;
}

.btnSpeedTest:hover {
    background: linear-gradient(#cecece, #b5b5b5)
}

.btnSpeedTest:active {
    background: linear-gradient(#ededed, #d8d8d8)
}

.containerIp {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerSp {
    width:100%;
    display: flex;
    flex-direction: column;
}

.containerSPTandIpT{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}