#topBar{
    display: inline-flex;
    flex-direction: row;
    z-index: 10;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,.06);
    background: #fff;
}

.topBarLogoContainer{
    white-space: nowrap;
    height: 50px;
    width: 110px;
    margin: 10px 20px;
}

#topBarCB{
    margin: 22px 8px 0 12px;
    width: 220px;
    height: 25px;
    font-size: 14px;
    line-height: 32px;
    border-left-width: 10px;
}

.secondaryBar{
    display:block;
    position: absolute;
    margin-top: 1px;
    width: 100%;
    height: 20px;
    background: darkgray;
}
.secondaryBarContainer {
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
